@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="header mt-3">
    <h1>BIO MANAGER</h1>
</div>

<section class="">
    <p>
        The biodata form is a document that summarizes your details,
        educational details, and work experience details in a simple form.
        The first thing that you should know about a biodata form is that it should be
        written in simple and clear language and it is better if it is of one page. 
        The biodata form should have the following information: full name 
        (should be in capital letters) with family background, your recent image & date of birth, gender & religion, nationality & marital status, contact address, phone no & email address, detailed education qualifications 
        (it should be on chronological order, either ascending or descending), 
        past employers details & work experience summary, your skills, sports, interests & hobbies ¹.
    </p>
</section>
